<div><a href="/rock">Play Rock<href></a></div>

<div><a href="/paper">Play Paper<href></a></div>

<div><a href="/scissors">Play Scissors</a></div>

<div><%= yield %>

<div><a href="/">Rules<href></a></div>
